body {
  font-family: serif;
  background:#111;
  color:#f5f5dc;
  text-align:center;
}

.character-select {
  display:flex;
  justify-content:center;
  gap:30px;
}

.char-card {
  background:#222;
  padding:15px;
  border:2px solid #555;
  cursor:pointer;
  width:200px;
}

.char-card img {
  width:100%;
  height: 400px;
}

#scene-image {
  background-size:cover;
  background-position:center;
  margin: 15px;
  padding: 300px 0;
  min-height:300px;
}

#game-box {
  margin:30px auto;
  width:70%;
  background:#222;
  padding:20px;
  border:2px solid #555;
}

button {
  margin:10px;
  padding:10px 20px;
  cursor:pointer;
}
#text {
  font-size:18px;
  margin-bottom:15px;
}

#knowledge {
  background:#333;
  border-left:5px solid #c9a227;
  padding:10px;
  margin-top:10px;
  font-style:italic;
  display:none;
}

.fade {
  animation: fadein 0.8s;
}

@keyframes fadein {
 from {opacity:0;}
 to {opacity:1;}
}
